# This workflow builds, tests, and validates a .NET project in a subfolder

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore
        working-directory: APIlicense.Blazor.Server

      - name: Build
        run: dotnet build --no-restore --configuration Release
        working-directory: APIlicense.Blazor.Server

      - name: Test
        run: dotnet test --no-build --verbosity normal --configuration Release
        working-directory: APIlicense.Blazor.Server
